;; shadow-cljs configuration
{:source-paths
 ["src/main"]

 :dependencies
 [[re-frame "1.4.3"]
  [metosin/reitit-frontend "0.7.0"]]

 :dev-http {8080 "public"}

 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn ga4gh.megaschema/init}}}}}
